{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
    

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Video Links</h4>
                     
                      <form class="forms-sample" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="form-group">
                          <label for="videoLinks">Youtube Video Links</label>
                          <input type="text" class="form-control" name="About_video" placeholder="https://www.youtube.com/watch?v=6_JH0yd3xXY&t=3190s">
                        </div>
                        

                        <div class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label">
                            </label>
                        </div>
    
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          
            {% endblock %}