{% extends "admin_pages/base.html" %}
{% load static %}
{% block content %}


    <div class="col-lg-11 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">View Comments</h4>
            <!-- <p class="card-description">
              Add class <code>.table-striped</code>
            </p> -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th> Phone</th>
                    <th> Comments</th> 
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                    {% for data in comments %}
                  <tr>
                    <td style="width: 150px; ">
                        {{data.name}}
                    </td>
                    <td style="width: 150px; ">
                        {{data.email}}
                    </td>
                    
                    <td style="width: 150px;">
                      {{ data.phone }}
                     
                    </td>
          
                    </td>
                    <td style="width: 150px; ">
                      {{data.comment}}
                    </td>
                  
                
                  <td style="width: 150px;">
                      <a href="{% url 'admin_delete_comments' data.id  %}"><button><i class="mdi mdi-delete" aria-hidden="true"></i> </button></a>
                  </td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}