{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}

  
  <div class="col-lg-11 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">View Video Link</h4>
     
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Link
                </th>
             
                <th>
                  Update
                </th>
                <th>
                  Delete
                </th>
              </tr>
            </thead>
            <tbody>
            {% for about in about %}
              <tr>
                <td style="width: 150px; ">
                  {{ about.About_video }}
                </td>
               
              
                
                <td style="width: 150px; ">
                    <a href="{% url 'update_video_link' about.id  %}"><button><i class="mdi mdi-cloud-upload" aria-hidden="true"></i> </button></a>
                  </td>
                  <td style="width: 150px; ">
                    <a href="{% url 'delete_video' about.id  %}"><button><i class="mdi mdi-delete" aria-hidden="true"></i> </button></a>
                   
                  </td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
