{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
    

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Add Provincial Administration</h4>
                     
                      <form class="forms-sample" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" name="name" placeholder="Province Name" value="{{administration.name}}">
                        </div>
                        <div class="form-group">
                            <label>Current Image</label><br>
                            {% if administration.image %}
                                <img src="{{ administration.image.url }}" alt="Current Image" style="width: 150px; height: 150px;">
                                <br>   
                            {% else %}
                                <p>No image available</p>
                            {% endif %}
                        </div>
                        <!-- New Client Image -->
                        <div class="form-group">
                            <label for="imageFile">Upload New Image</label><br>
                            <input type="file" class="form-control-file" id="imageFile" name="image" accept="image/*">
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="designation">Designation</label>
                            <input type="text" class="form-control" name="designation" placeholder="Designation" value="{{administration.designation}}">
                        </div>

                        <div class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label">
                            </label>
                        </div>
    
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          
            {% endblock %}