{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
 
            <div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  {% comment %} <h4 class="card-title">Provincial Administration</h4>
                  <a href="{% url 'add_administaration' %}">
                    <button class="btn btn-primary">Add Provincial Administration</button>
                </a> {% endcomment %}
                
               
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                             Name
                          </th>
                          <th>
                            Designation
                          </th>
                         
                          <th>
                             Image
                          </th>
                       
                          <th>
                            Update
                          </th>
                          <th>
                            Delete
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for province in administration %}
                        <tr>
                          <td style="width: 150px; ">
                            {{ province.name }}
                          </td>
                          <td style="width: 150px; ">
                            {{ province.designation }}
                          </td>
                        
                        
                          <td style="width: 150px; ">
                            {% if province.image %}
                            <img src="{{ province.image.url }}" alt="Current Image" style="width: 80px; height: 80px;">
                            <br>
                            
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        </td>
                         
                          <td style="width: 150px; ">
                            <a href="{% url 'update_administration' province.id  %}"><button><i class="mdi mdi-cloud-upload" aria-hidden="true"></i> </button></a>
                          </td>
                          <td style="width: 150px; ">
                            <a href="{% url 'delete_administration' province.id  %}"><button><i class="mdi mdi-delete" aria-hidden="true"></i> </button></a>
                           
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}