{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
 
            <div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Event Heading
                          </th>
                          
                          <th>
                             Main Image
                          </th>
                          <th>
                            Event Venue
                          </th>
                          <th>
                            Description
                          </th>

                          <th>Event Start Date</th>
                          <th>Event End Date</th>
                       
                          <th>
                            Update
                          </th>
                          <th>
                            Delete
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for data in event %}
                        <tr>
                          <td style="width: 150px; ">
                            {{ data.heading }}
                          </td>
                         
                        
                        
                          <td style="width: 150px; ">
                            {% if data.main_image %}
                            <img src="{{ data.main_image.url }}" alt="Current Image" style="width: 80px; height: 80px;">
                            <br>
                            
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        </td>
                        <td style="width: 150px; ">
                            {{ data.venue|default:"No venue available" }}
                        </td>

                        <td style="width: 300px; word-wrap: break-word;">
                            
                                {{ data.description | safe }}
                         
                        </td>
                        <td style="width: 150px; ">
                            {{ data.date }}
                        </td>
                        <td style="width: 150px; ">
                            {{ data.end_date }}
                        </td>
                         
                          <td style="width: 150px; ">
                            <a href="{% url 'update_event' data.id  %}"><button><i class="mdi mdi-cloud-upload" aria-hidden="true"></i> </button></a>
                          </td>
                          <td style="width: 150px; ">
                            <a href="{% url 'delete_event' data.id  %}"><button><i class="mdi mdi-delete" aria-hidden="true"></i> </button></a>
                           
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}