<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>404 - Divine Church HTML Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font-awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Typography -->
    <link href="css/typography.css" rel="stylesheet">
    <!-- widget.css -->
    <link href="css/widget.css" rel="stylesheet">
    <!-- svg-icons.css -->
    <link href="css/svg-icons.css" rel="stylesheet">
    <!-- component-responsive.css -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- shortcodes.css -->
    <link href="css/shortcodes.css" rel="stylesheet">
    <!-- colors.css -->
    <link href="css/colors.css" rel="stylesheet">
    <!-- style.css -->
    <link href="style.css" rel="stylesheet">

  </head>
  <body>

    <!--church wrapper-->
    <div class="wrapper">
        <!--church page 404-->
        <div class="content">
        	<div class="content_404 overlay-b">
        		<div class="container">
        			<div class="content_caption_404">
        				<h3>Error 404 - Not Found!</h3>
						<p>Please go back to home and try to find out once again.</p>
						<h2>Don’t panic! you are lost not dead.</h2>
						<form>
							<div class="church_search_02">
								<input type="text" placeholder="Search again">
								<button><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</form>
						<a href="index.html" class="default_btn theme-bg_btn">Back to Home</a>
        			</div>
        		</div>
        	</div>
        </div>
       
	</div>
    <!--church wrapper ends-->


    <!-- jquery javascript-->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap script-->
    <script src="js/bootstrap.js"></script>
    <!-- modernizr script-->
    <script src="js/modernizr.js"></script>
    <!-- responsive-jquery script-->
    <script src="js/responsive-jquery.js"></script>
    <!-- Custom scripts-->
    <script src="js/custom.js"></script>
  </body>
</html>