{% extends "base.html" %}
{% load static %}
{% block content %}
        <!--church header ends-->
		
		<!--sab banner start-->
		<div class="sab_banner_wrap overlay">
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="{% static 'images/sab-banner-bg.png' %}" alt="">
                </div>
                {% comment %} <div class="banner_slide">
                    <img src="{% static 'images/sab-banner-bg.png' %}" alt="">
                </div>
                <div class="banner_slide">
                    <img src="{% static 'images/sab-banner-bg.png' %}" alt="">
                </div> {% endcomment %}
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>ministry</h3>
					<ul class="breadcrumb">
					  <li class="active">ministry</li>
					</ul>
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
		<!--sab banner end-->
		
		<div class="content">
            <div class="church_caption_wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="church_text">
								<h3>History</h3>
								<p>The Syro-Malabar Catholic Church is one of 22 Eastern (Oriental) Catholic Churches in full communion with the Vatican. It is the second largest Eastern Catholic Church after the Ukrainian Church and with 4.6 million believers, is the largest of the Saint Thomas Christian (Nazrani) denominations. The Syro-Malabar Church traces its origins to St. Thomas, the apostle who landed in Cranganore, India in 52 AD. St. Thomas was martyred in 72 A.D. in Mylapore, near Chennai/Madras. The members of the early Christian community in India were known as St. Thomas Christians. They were also called Nazranis, meaning “those who follow the path of Jesus of Nazareth”.

                                    Syro-Malabar Christians strive to live out the St. Thomas tradition in their own lives and share it with others wherever they live. The Syro-Malabar community in Louisville began with the migration of Indians to Kentucky, led by pioneer P.J. Joseph, who arrived in Kentucky in 1961. In the beginning American Catholic Priests served the spiritual needs of Syro-Malabar people living in Kentucky.
                                    
                                    In 2001, March Jacob Angadiyath became the first Syro-Malabar bishop, serving the Chicago Diocese. In 2005, on the feast of St. Thomas, the Syro-Malabar community in Louisville celebrated Holy Mass in its own rite for the first time. Frs. Andrew Athappilly CMI and Baby Shephered CMI were leading figures in the organization of this movement.  This community continued to grow as job opportunities at Louisville’s Norton Hospital continued to increase.  Over the years, the mission gained attention from the diocese and Frs. Roy Kaduppil and George Madathiparambil began celebrating Mass in the undercroft of the Cathedral of Assumption on every second Saturday of the month.
                                    
                                    In 2008 Fr. Joy Choorapanthiyil led the Louisville Syro-Malabar community, followed by Fr. Joel Koikkara OFMConv. In 2011 Fr. John Pozhathuparambil OFMConv. was officially appointed as the first mission director.
                                    
                                    One of the central missions of the Franciscan conventuals is to establish a Young Adult Ministry in Louisville. With the arrival of Fr. Leo Payyappilly in 2012 and Fr. Tony Vattapparambil in 2013 Fr. Deljo Puthoor CMI in 2013 and Fr. George Munjanattu in 2015 the community has become more vibrant and active.
                                    
                                    On March 10, 2013, Bishop Jacob Angadiyath officially dedicated the mission to Divine Mercy, marking a milestone in Syro-Malabar history.</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="church_home_fig">
								<figure>
									<img src="{% static 'images/home_img.png' %}" alt="">
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>

			

            
		</div>

        {% endblock %}