{% extends "base.html" %}
{% load static %}
{% block content %}
		
		<!--sab banner start-->
		<div class="sab_banner_wrap overlay">
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="{% static 'images/3.jpg' %}" alt="">
                </div>
               
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>Blog Details</h3>
					<ul class="breadcrumb">
					  <li><a href="#">Blog Details</a></li>
					  <li class="active">Blog Details</li>
					</ul>
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
		<!--sab banner end-->
		
        <div class="content">
    		<!--church blog detail wrap start-->
    		<div class="church_blog_detail_wrap wrap_2">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-9">
    						<!--ch blog detail row start-->
    						<div class="ch_blog_detail_row post-margin">
    							<!--church blog detail text start-->
    							<div class="church_blog_detail_text">
    								<figure>
    									{% comment %} <img src="{% static 'extra-images/blog_detail.jpg' %}" alt=""> {% endcomment %}
    									<div class="box_span">
    										<span class="date">29<b>Aug</b></span>
    										<a href="#" class="date"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
    									</div>
    								</figure>
    								<h3 class="custom-font-30px">{{ blog.main_heading }}</h3>
    								<ul class="church_meta_date meta_2 meta_3">
    									<li><a href="#">By Admin</a></li>
    									<li><a href="#">April 5th, 2017  </a></li>
    									<li><a href="#">23 Comments  </a></li>
    									<li><a href="#"> 132 Likes </a></li>
    								</ul>
    								<p>{{ blog.blog_description|safe }}</p>
    								{% comment %} <a href="#" class="default_btn theme-bg_btn">Read More</a> {% endcomment %}
    							</div>
    							<!--church blog detail text end-->
    						</div>
    						<!--ch blog detail row end-->

    						<!--ch blog detail row start-->
    						
    						<!--ch blog detail row end-->	
    					</div>
    					<div class="col-md-3">
    						<div class="widget_sidebar">
    							<div class="widget_categories">
    								<h5 class="widget_tittle">Categories</h5>
    								<ul>
    									<li><a href="#">Blessing  (23)</a></li>
    									<li><a href="#">Church Building  (42)</a></li>
    									<li><a href="#">Wordpress Themes  (11)</a></li>
    									<li><a href="#">HTML CSS  (33)</a></li>
    									<li><a href="#">Corporate Templates  (58)</a></li>
    									<li><a href="#">Faith  (10)</a></li>
    								</ul>
    							</div>
    							
    							<div class="widget_social">
    								<h5 class="widget_tittle">Social Widget</h5>
    								<ul>
    									<li><a class="orange" href="#"><span><i class="fa fa-twitter"></i></span>RSS feed</a></li>
    									<li><a class="blue_light" href="#"><span><i class="fa fa-twitter"></i></span>follow us</a></li>
    									<li><a class="blue" href="#"><span><i class="fa fa-twitter"></i></span>Like us</a></li>
    									<li><a class="green" href="#"><span><i class="fa fa-twitter"></i></span>follow us</a></li>
    									<li><a class="pink" href="#"><span><i class="fa fa-twitter"></i></span>follow us</a></li>
    									<li><a class="red" href="#"><span><i class="fa fa-twitter"></i></span>plus 1 us</a></li>
    								</ul>
    							</div>	
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<!--church blog detail wrap end-->

    		<!--church prayer block start-->
    		
    		<!--church prayer block end-->
		</div>
		
{% endblock %}