<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Blog Detail - Divine Church HTML Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font-awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Slick Slider -->
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/fancy_slider.css" rel="stylesheet">
    <!-- audio.css -->
    <link href="css/audio.css" rel="stylesheet">
    <!-- Typography -->
    <link href="css/typography.css" rel="stylesheet">
    <!-- widget.css -->
    <link href="css/widget.css" rel="stylesheet">
    <!-- selectric.css -->
    <link href="css/selectric.css" rel="stylesheet">
    <!-- svg-icons.css -->
    <link href="css/svg-icons.css" rel="stylesheet">
    <!-- component-responsive.css -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- shortcodes.css -->
    <link href="css/shortcodes.css" rel="stylesheet">
    <!-- colors.css -->
    <link href="css/colors.css" rel="stylesheet">
    <!-- style.css -->
    <link href="style.css" rel="stylesheet">

  </head>
  <body class="bg_none padding_none">

    <!--church wrapper-->
    <div class="wrapper">
	<!--church header-->
        <header class="header_version_4">
            <div class="header_top_row">
                <div class="container">
                    <ul class="church_accounts_language">
                        <li class="">
                            <div class="language_changer">
                                <select class="location-select">
                                    <option value="01">English</option>
                                    <option value="02">English</option>
                                    <option value="03">English</option>
                                </select>
                                <div class="language_velue">
                                    <ul>
                                        <li class="01"><img src="images/flg_01.jpg" alt=""></li>
                                        <li class="02"><img src="images/flg_01.jpg" alt=""></li>
                                        <li class="03"><img src="images/flg_01.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i>login/user</a></li>
                        <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>Live Chat</a></li>
                    </ul>
                    <div class="pull-right">
                        <ul class="church_login_services">
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>My WishList</a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My cart</a></li>
                        </ul>
                        <!--church social icons-->
                        <div class="social-icons">
                            <ul class="social-icons_list">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <!--church social icons ends-->
                    </div>
                </div>
            </div>
            <!--church header container-->
            <div class="church_container_version2">
                <!--church container-->
                <div class="container">
                    <!--church logo-->
                    <div class="church_logo">
                        <h1><a href="index.html"><img src="images/church_logo_02.png" alt="church logo"></a></h1>
                    </div>
                    <!--church logo ends-->

                    <!--church menus-->
                    <div class="church_menu_row">
                        <!--church music player-->
                        <div class="church_audio_row">
                            <div class="audioplayer">
                                <ul class="playlist">
                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
                                    </li>
                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                        <!--church music player ends-->   
                    </div>    
                </div>        
            </div>    
            <div class="church_navigation_block">
                <div class="container">
                    <div id="kode-responsive-navigation" class="dl-menuwrapper">
                        <button class="dl-trigger">Menu</button>
                        <ul class="dl-menu">
                            <li class="active"><a class="active" href="index.html">Home</a>
                                <ul class="dl-submenu">
                                    <li><a href="index.html">version 1</a></li>
                                    <li><a href="version-2.html">version 2</a></li>
                                    <li><a href="version-3.html">version 3</a></li>
                                    <li><a href="version-4.html">version 4</a></li>
                                    <li><a href="version-5.html">version 5</a></li>
                                    <li><a href="version-6.html">version 6</a></li>
                                    <li><a href="version-7.html">version 7</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="">Ministries</a>
                                <ul class="dl-submenu">
                                    <li><a href="ministry_blog.html">ministry blog</a></li>
                                    <li><a href="ministry_detail.html">ministry detail</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="">Features</a>
                                <ul class="dl-submenu">
                                    <li><a href="sermon.html">sermon</a></li>
                                    <li><a href="sermon-detail.html">sermon detail</a></li>
									<li><a href="comeing_soon.html">comeing soon</a></li>
									<li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="">causes</a>
                                <ul class="dl-submenu">
                                    <li><a href="causes.html">causes</a></li>
                                    <li><a href="causes-listing.html">causes listing</a></li>
                                    <li><a href="causes_detail.html">causes detail</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="">Our Blog</a>
                                <ul class="dl-submenu">
                                    <li><a href="blog-posts.html">blog posts</a></li>
                                    <li><a href="blog-detail.html">blog detail</a></li>
                                </ul>
                            </li>
                            <li><a href="prayer_wall.html">Schedule</a></li>
                            <li><a href="contact_us.html">contact us</a></li>
                        </ul>
                    </div>
                    <!--Responsive Menu END-->
                    
                    <!--church social navigation menu-->
                    <div class="church_navigation">
                        <nav class="navigation">                                                          
                            <ul>
                                        <li><a href="index.html">Home</a>
                                            <ul class="children submenu">
                                                <li><a href="index.html">version 1</a></li>
                                                <li><a href="version-2.html">version 2</a></li>
                                                <li><a href="version-3.html">version 3</a></li>
                                                <li><a href="version-4.html">version 4</a></li>
                                                <li><a href="version-5.html">version 5</a></li>
                                                <li><a href="version-6.html">version 6</a></li>
                                                <li><a href="version-7.html">version 7</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Ministries</a>
                                            <ul class="children submenu">
                                                <li><a href="ministry_blog.html">ministry blog</a></li>
                                                <li><a href="ministry_detail.html">ministry detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Features</a>
                                            <ul class="children submenu">
                                                <li><a href="sermon.html">sermon</a></li>
                                                <li><a href="sermon-detail.html">sermon detail</a></li>
												<li><a href="comeing_soon.html">comeing soon</a></li>
												<li><a href="404.html">404</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="causes.html">causes</a>
                                            <ul class="children submenu">
                                                <li><a href="causes.html">causes</a></li>
                                                <li><a href="causes-listing.html">causes listing</a></li>
                                                <li><a href="causes_detail.html">causes detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Our Blog</a>
                                            <ul class="children submenu">
                                                <li><a href="blog-posts.html">blog posts</a></li>
                                                <li><a href="blog-detail.html">blog detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="prayer_wall.html">Schedule</a></li>
                                        <li><a href="contact_us.html">contact us</a></li>
                                    </ul>
                        </nav>
                    </div>
                    <!--church cart menu-->
                    <div class="cart_items_show">
                        <ul>
                            <li><a href="#"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <!--church cart menu ends-->
                </div>
            </div>
            <!--church header container end-->
        </header>
        <!--church header ends-->
		
		<!--sab banner start-->
		<div class="sab_banner_wrap overlay">
			<div class="sub_slider">
				<div class="banner_slide">
					<img src="images/sab-banner-bg.png" alt="">
				</div>
				<div class="banner_slide">
					<img src="images/sab-banner-bg.png" alt="">
				</div>
				<div class="banner_slide">
					<img src="images/sab-banner-bg.png" alt="">
				</div>
			</div>
			<div class="container">
				<div class="sab_banner_text">
					<h3>Blog Detail</h3>
					<ul class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li class="active">Blog Detail</li>
					</ul>
				</div>
			</div>
		</div>
		<!--sab banner end-->
		<div class="content">
    		<!--church blog detail wrap start-->
    		<div class="church_blog_detail_wrap wrap_3">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-9">
    						<!--ch blog detail row start-->
    						<div class="ch_blog_detail_row">
    							<!--church blog detail text start-->
    							<div class="church_blog_detail_text">
    								<figure>
    									<img src="extra-images/blog_detail.jpg" alt="">
    								</figure>
    								<h3 class="custom-font-30px">Inspiring stories from life change</h3>
    								<ul class="church_meta_date meta_2 meta_3">
    									<li><a href="#">By Admin</a></li>
    									<li><a href="#">April 5th, 2017  </a></li>
    									<li><a href="#">23 Comments  </a></li>
    									<li><a href="#"> 132 Likes </a></li>
    								</ul>
    								<p>orem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever sincer they 1500s. Nullam id condimentum purus. In non ex at ligula fringilla lobortis. Ut et mauris auctor, aliquet nulla sed, aliquam mauris. Vestibulum sed malesuada dolor. Integer fringilla odio a dolor aliquet, eu euismod lectus porttitor. Proin et libero nec eros eleifend commodo Phasellus sodales volutpat diam, id sagittis purus egestas dapibus. Donec bibendum est quis mi commodo blandit. Maecenas pellentesque, massa vitae faucibus consectetur, ante magna gravida magna, ut venenatis massa augue et odio. Aliquam luctus viverra velit, non euismod ligula congue sed.</p>
    								<p>Mauris nunc leo, sollicitudin a ligula ut, iaculis bibendum lorem. Duis gravida suscipit purus, at consequat diam sagittis sit amet. Mauris sed nisl vel urna egestas elementum eget quis ipsum. Nulla a enim et justo facilisis ornare. Sed ante sem, dignissim a vehicula et, rutrum volutpat turpis. </p>
    							</div>
    							<!--church blog detail text end-->
    							<div class="row">
    								<div class="col-md-6">
    									<blockquote class="blockquote_text">
    										<p>Duis eget ultricies lorem, et rhoncus augue. Aliquam id est sem tincidunt nisi ac, tristique enim. enim eget facilisis orcidearn malesuada.</p>
    										<a href="#">Panther</a>
    									</blockquote>
    								</div>
    								<div class="col-md-6">
    									<div class="ch_blog_detail_list">
    										<div class="church_blog_caption">
    											<a href="#"><img src="images/blog-detail_e.png" alt=""></a>
    											<div class="ch_code">
    												<p>Aliquam hendrerit a augue in suscipit. Pellen tesque id erat quis sapien dignissim sollicitu din. Nulla mattis tortor sit amet lorem dolor sollicitudin aliquam.</p>
    											</div>
    										</div>
    										<p>Ut cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrices condimentum, leo massa mollis estiegittis miristum nulla. Mauris nunc leo, sollicitudin a ligula ut, iaculis bibendum lorem. Duis gravida suscipit purus. </p>
    									</div>
    								</div>
    							</div>
    							<p class="ch_content">Donec bibendum est quis mi commodo blandit. Maecenas pellentesque, massa vitae faucibus consectetur, ante magna gravida magna, ut venenatis massa augue et odio. Aliquam luctus viverra vedo blandit. Maecenas pellentesque, massa vitae faucibus consectetur, ante magna. non euismod ligula congue sed.</p>
    							<ul class="church_blog_next">
    								<li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Post</a></li>
    								<li><a href="#">Next Post<i class="fa fa-long-arrow-right"></i></a></li>
    							</ul>
    							
    							<!--church authore list start-->
    							<div class="church_authore_list">
    								<div class="churech_author">
    									<figure>
    										<img src="extra-images/authore.jpg" alt="">	
    									</figure>
    									<div class="churech_author_text">
    										<div class="churech_author_head">
    											<h4>About Author</h4>
    											<span>David Martin</span>
    										</div>
    										<p>Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nul maximus dolor in quam euismod ac viverra libero aliquet. Nunc sed nunc malesuada aliquet turpis eu dictum lectus. Cras eget sollicitudin lorem..</p>
    									</div>
    								</div>
    								<div class="ch_share_meta">
    									<span><i class="fa fa-picture-o"></i><a href="#">25 Total Posts</a></span>
    									<div class="ch_social_share">
    										<ul>
    											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
    											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
    											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    											<li><a href="#"><i class="fa fa-camera"></i></a></li>
    											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
    										</ul>
    									</div>
    								</div>
    							</div>	
    							<!--church authore list end-->
    							
    							<!--ch comments start-->
    							<div class="ch_comments">
    								<h4 class="comment_title custom-font-30px">2 Comments</h4>
    								<ul id="kode-comment" class="comment">
    									<li>
    										<div class="churech_author comment">
    											<figure>
    												<img src="extra-images/comment.jpg" alt="">	
    											</figure>
    											<div class="churech_author_text">
    												<div class="churech_author_head">
    													<h5>Chun Lee </h5>
    													<span>22 April - 2017</span>
    												</div>
    												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s..</p>
    											</div>
    											<a href="#">Reply</a>
    										</div>
    									</li>
    									<li>
    										<div class="churech_author comment">
    											<figure>
    												<img src="extra-images/comment1.jpg" alt="">	
    											</figure>
    											<div class="churech_author_text">
    												<div class="churech_author_head">
    													<h5>Jacob Shaw</h5>
    													<span>22 April - 2017</span>
    												</div>
    												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s..</p>
    											</div>
    											<a href="#">Reply</a>
    										</div>
    									</li>
    								</ul>
    							</div>
    							<!--ch comments end-->
    							
    							<!--ch comment form start-->
    							<div class="ch_comment_form">
    								<h4 class="comment_title custom-font-30px">Post A Comment</h4>
    								<form method="post" id="commentform" class="comment_form">
    									<div class="kode-left-comment-sec">
    										<div class="kf_commet_field">
    											<input placeholder="Full Name" name="author" type="text" value="" data-default="Name*" size="30" required>
    										</div>
    										<div class="kf_commet_field">
    											<input placeholder="Email Address" name="email" type="text" value="" data-default="Email*" size="30" required>
    										</div>
    										<div class="kf_commet_field full-width-kode">
    											<input placeholder="Your Website" name="url" type="text" value="" data-default="Website" size="30" required>
    										</div>
    									</div>
    									<div class="ch_textarea">
    										<textarea placeholder="Type here message" name="comment"></textarea>
    									</div>
    									<p class="form_submit"><input name="submit" type="submit" class="default_small_btn btn_2" value="Post comment"></p>
    								</form>
    							</div>
    							<!--ch comment form end-->
    						</div>
    						<!--ch blog detail row end-->
    					</div>
    					<div class="col-md-3">
    						<div class="widget_sidebar">
    							<div class="widget_categories">
    								<h5 class="widget_tittle">Categories</h5>
    								<ul>
    									<li><a href="#">Blessing  (23)</a></li>
    									<li><a href="#">Church Building  (42)</a></li>
    									<li><a href="#">Wordpress Themes  (11)</a></li>
    									<li><a href="#">HTML CSS  (33)</a></li>
    									<li><a href="#">Corporate Templates  (58)</a></li>
    									<li><a href="#">Faith  (10)</a></li>
    								</ul>
    							</div>
    							
    							<div class="widget_social">
    								<h5 class="widget_tittle">Social Widget</h5>
    								<ul>
    									<li><a class="orange" href="#"><span><i class="fa fa-twitter"></i></span>RSS feed</a></li>
    									<li><a class="blue_light" href="#"><span><i class="fa fa-twitter"></i></span>follow us</a></li>
    									<li><a class="blue" href="#"><span><i class="fa fa-twitter"></i></span>Like us</a></li>
    									<li><a class="green" href="#"><span><i class="fa fa-twitter"></i></span>follow us</a></li>
    									<li><a class="pink" href="#"><span><i class="fa fa-twitter"></i></span>follow us</a></li>
    									<li><a class="red" href="#"><span><i class="fa fa-twitter"></i></span>plus 1 us</a></li>
    								</ul>
    							</div>
    							<div class="widget_events">
    								<h5 class="widget_tittle">Recent Event</h5>
    								<ul class="widget_event_slider default_arrows">
    									<li>
    										<a  href="" class=""><img src="extra-images/widget_events_img_01.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_02.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_03.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_04.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_05.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_06.jpg" alt=""></a>
    									</li>
    									<li>
    										<a  href="" class=""><img src="extra-images/widget_events_img_01.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_02.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_03.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_04.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_05.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_06.jpg" alt=""></a>
    									</li>
    									<li>
    										<a  href="" class=""><img src="extra-images/widget_events_img_01.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_02.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_03.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_04.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_05.jpg" alt=""></a>
    										<a  href="" class=""><img src="extra-images/widget_events_img_06.jpg" alt=""></a>
    									</li>
    								</ul>
    							</div>
    							<div class="widget_recents_posts">
    								<h5 class="widget_tittle">Recent Posts</h5>
    								<div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/widget_posts_img_01.jpg" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Recent Trends Included in Theme</a>
                                            <span>Dec 12 - 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/widget_posts_img_02.jpg" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Recent Trends Included in Theme</a>
                                            <span>Dec 12 - 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/widget_posts_img_03.jpg" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Recent Trends Included in Theme</a>
                                            <span>Dec 12 - 2017</span>
                                        </div>
                                    </div>
    							</div>
    							<div class="widget_writeform">
    								<h5 class="widget_tittle">Quick Contact</h5>
    								<form>
    									<div class="widget-input-text">
    										<input type="text" placeholder="name">
    									</div>
    									<div class="widget-input-text">
    										<input type="text" placeholder="email address">
    									</div>
    									<div class="widget-input-text">
    										<textarea placeholder="message"></textarea>
    									</div>
    									<div class="widget-input-text">
    										<button class="default_btn black-bg_btn">Send Now</button>
    									</div>
    								</form>
    							</div>
    							<div class="widget_church_flicker">
                                    <h5 class="widget_tittle">Popular Tags</h5>
                                    <ul class="footer_tags">
                                        <li><a href="">Amazing</a></li>
                                        <li><a href="">Envato</a></li>
                                        <li><a href="">Themes</a></li>
                                        <li><a href="">Clean</a></li>
                                        <li><a href="">Responsiveness</a></li>
                                        <li><a href="">SEO</a></li>
                                        <li><a href="">Mobile</a></li>
                                        <li><a href="">IOS</a></li>
                                        <li><a href="">Flat</a></li>
                                        <li><a href="">Design</a></li>
                                    </ul>
                                </div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<!--church blog detail wrap end-->
    				<!--church prayer block start-->
    		<div class="church_prayer_block height padding-0">
    			<div class="container">
    				<div class="church_prayer_detail padding">
    					<h3>You can always make a Differnce <br>With belief.</h3>
    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in convallis odio. Cras dui ex, ullamcorper eget rhoncus id, consequat non tortor.</p>
    					<a href="#" class="default_btn black-bg_btn">Join Us Now</a>
    				</div>
    				<div class="pull-right">
    					<figure>
    						<img src="extra-images/prayer_short_img1.png" alt="">
    					</figure>
    				</div>
    			</div>
    		</div>
    		<!--church prayer block end-->
		</div>
		<footer>
            <div class="slider_images">
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_01.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_02.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_03.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_04.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_05.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_06.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_01.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_02.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_03.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_04.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_05.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_06.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="footer_board">
                <div class="container">
                    <div class="background-logos">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer_detail">
                                    <h4 class="footer_title">Divine Church</h4>
                                    <p>Lorem ipsum dolor sit amet, co sectetur adipiscing elit. Nullam convallis euismod mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nlis <br>euismod mollis. Nullam convallis euismod mollisNullam convallis euismod mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nlis euismod mollis.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer_blog">
                                    <h4 class="footer_title">Latest News</h4>
                                    <div class="footer_blog_post padding-top-0">
                                        <figure>
                                            <img src="extra-images/footer_post_img_01.jpg" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/footer_post_img_01.jpg" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="footer_blog">
                                    <h4 class="footer_title">Our Address</h4>
                                    <p>Nlis euismod mollis. Nullam con euismod mol.Nullam convallis euismod mollis.</p>
                                    <span><i class="fa fa-envelope" aria-hidden="true"></i>Info@example.com</span>
                                    <span><i class="fa fa-location-arrow" aria-hidden="true"></i>Joseph Colony, Allen Street New York</span>
                                    <span><i class="fa fa-phone" aria-hidden="true"></i>+123456789</span>
                                </div>
                            </div>       
                        </div>
                    </div>
                    <div class="footer_twitter">
                        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <div class="footer_twitter_caption">
                            <p>Proin dapibus dapibus nunc, sit amet scelerisque est imperdiet tristique. Sed lobortis metus ut consequat,.<a href="">pikdfjsoamjdh</a></p>
                            <small>2 Hours Ago</small>
                        </div>
                        <div class="pull-right"><a href="#" class="default_btn black-bg_btn">Follow us</a></div>
                    </div>
                    <div class="footer_other_sections">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="church_flicker">
                                    <h4 class="footer_title">Flickr Feed</h4>
                                    <ul class="church_flicker_gallery">
                                        <li><a href="#"><img src="extra-images/flicker_img01.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img02.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img03.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img04.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img05.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img06.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="church_flicker">
                                    <h4 class="footer_title">Latest Prayers</h4>
                                    <div class="footer_blog_post padding-top-0">
                                        <figure>
                                            <img src="extra-images/footer_post_img_04.png" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/footer_post_img_04.png" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/footer_post_img_04.png" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="church_flicker">
                                    <h4 class="footer_title">Tags</h4>
                                    <ul class="footer_tags">
                                        <li><a href="">Church</a></li>
                                        <li><a href="">Religious</a></li>
                                        <li><a href="">Real Belief</a></li>
                                        <li><a href="">Real Path</a></li>
                                        <li><a href="">Divine Way</a></li>
                                        <li><a href="">Amen</a></li>
                                        <li><a href="">Sympathy</a></li>
                                        <li><a href="">Rightousnes</a></li>
                                        <li><a href="">Pray</a></li>
                                        <li><a href="">Prayers</a></li>
                                        <li><a href="">Love</a></li>
                                        <li><a href="">Struggle</a></li>
                                        <li><a href="">Divinity</a></li>
                                        <li><a href="">Sweet Love</a></li>
                                        <li><a href="">Ways</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>
        </footer>
        <div class="copyright-content center">
			<div class="container">
				<p><i class="fa fa-copyright" aria-hidden="true"></i>All Rights Reserved to <a href="index.html">KodeForest</a>.</p>
			</div>
		</div>
        <!--video deta-->
        <div id="v1" class="videos_play_modal modal fade" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="default_vides_playblack">
                        <button type="button" class="close" data-dismiss="modal controls=1">&times;</button>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/XYi75x-ZvGE?autoplay=0&controls=1&loop=1&playlist=8HSr8BjcufM&amp;showinfo=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!--video deta ends-->
	</div>
    <!--church wrapper ends-->


    <!-- jquery javascript-->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap script-->
    <script src="js/bootstrap.js"></script>
    <!-- modernizr script-->
    <script src="js/modernizr.js"></script>
    <!-- responsive-jquery script-->
    <script src="js/responsive-jquery.js"></script>
    <!-- Audio script-->
    <script src="js/audio.js"></script>
    <!-- Slick Slider script-->
    <script src="js/slick.js"></script>
    <script src="js/slider_fancy.js"></script>
    <script src="js/accordian.js"></script>
    <script src="js/selectric.js"></script>
    <script src="js/imgslider.min.js"></script>
    <!-- Custom scripts-->
    <script src="js/custom.js"></script>
  </body>
</html>