<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Coming soon - Divine Church HTML Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font-awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Typography -->
    <link href="css/typography.css" rel="stylesheet">
    <!-- widget.css -->
    <link href="css/widget.css" rel="stylesheet">
    <!-- svg-icons.css -->
    <link href="css/svg-icons.css" rel="stylesheet">
    <!-- component-responsive.css -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- shortcodes.css -->
    <link href="css/shortcodes.css" rel="stylesheet">
    <!-- colors.css -->
    <link href="css/colors.css" rel="stylesheet">
    <!-- style.css -->
    <link href="style.css" rel="stylesheet">

  </head>
  <body>

    <!--church wrapper-->
    <div class="wrapper">
        <!--church page comingsoon-->
        <div class="content">
        	<div class="content_comingsoon overlay-b">
        		<div class="container">
        			<div class="comingsoon_content_caption">
        				<div class="padding-lt-rt">
                            <h2>We are currently working on anawesome new site.</h2>
						    <h6>Ut sagittis tortor vel elit venenatis blandit. Donec eu libero et urna pretium molestie. Aenean non sollicitudin ipsum. Duis et tempor leo.</h6>
                        </div>
						<span><i class="fa fa-clock-o" aria-hidden="true"></i>Time Left Until Launching</span>
						<ul class="countdown">
                            <li><span class="days">47</span><p>Days</p></li>
                            <li><span class="hours">36</span><p>Hours</p></li>
                            <li><span class="minutes">50</span><p>Minutes</p></li>
                            <li><span class="seconds">18</span><p>second</p></li>
                        </ul>
                        <form>
                            <div class="submit_email">
                                <input type="text" placeholder="Email address">
                                <button class="default_btn theme-bg_btn">Get Notified</button>
                            </div>
                        </form>
						<ul class="church_social_icons">
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-windows" aria-hidden="true"></i></a></li>
                        </ul>
        			</div>
        		</div>
        	</div>
        </div>
       
	</div>
    <!--church wrapper ends-->


    <!-- jquery javascript-->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap script-->
    <script src="js/bootstrap.js"></script>
    <!-- modernizr script-->
    <script src="js/modernizr.js"></script>
    <!-- responsive-jquery script-->
    <script src="js/responsive-jquery.js"></script>
    <script src="js/slider_fancy.js"></script>
    <!-- Custom scripts-->
    <script src="js/custom.js"></script>
  </body>
</html>