{% extends "base.html" %}
{% load static %}
{% block content %}
		<!--sab banner start-->
		<div class="sab_banner_wrap overlay">
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="{% static 'images/5.jpg' %}" alt="">
                </div>
                
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>contact us</h3>
					<ul class="breadcrumb">
					  <li class="active">contact us</li>
					</ul>
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
		<!--sab banner end-->
		
		
		<div class="contact_us">
			<div class="church_map" id="church_map"></div>
	        <section>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="church_location">
								<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
								<div>
									<h6><a href="#">Office Address</a></h6>
									<p></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="church_location active">
								<span><i class="fa fa-phone" aria-hidden="true"></i></span>
								<div>
									<h6><a href="#">Phone Number</a></h6>
									<p><br></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="church_location">
								<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
								<div>
									<h6><a href="#">Email Address</a></h6>
									<p><br></p>
								</div>
							</div>
						</div>
					
						<div class="content_contact_us">
							<h4 class="custom-font-30px">Feel Free! Drop Us a line</h4>
							<p>If you have any questions or comments, or would just like to say hello,</p>
							<form method="post">{% csrf_token %}
								<div class="kode-left-comment-sec">
									<div class="col-md-4">
										<div class="kf_commet_field">
											<input placeholder="Full Name" name="name" value="" data-default="Name*" size="30" required="" type="text">
										</div>
										<div class="kf_commet_field">
												<input placeholder="Email" name="email" value="" data-default="Email*" size="30" required="" type="email">
										</div>
										<div class="kf_commet_field">
											<input placeholder="Subject" name="subject" value="" data-default="Subject*" size="30" required="" type="text">
										</div>
									</div>
									<div class="col-md-8">
										<div class="ch_textarea">
											<textarea placeholder="Type here message" name="comment"></textarea>
										</div>
									</div>
									<p class="form_submit"><input name="submit" class="default_small_btn btn_2" value="Post comment" type="submit"></p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>

            <!--church prayer block start-->
            {% comment %} <div class="church_prayer_block height padding-0">
                <div class="container">
                    <div class="church_prayer_detail padding">
                        <h3>You can always make a Differnce <br>With belief.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in convallis odio. Cras dui ex, ullamcorper eget rhoncus id, consequat non tortor.</p>
                        <a href="#" class="default_btn black-bg_btn">Join Us Now</a>
                    </div>
                    <div class="pull-right">
                        <figure>
                            <img src="extra-images/prayer_short_img1.png" alt="">
                        </figure>
                    </div>
                </div>
            </div> {% endcomment %}
            <!--church prayer block end-->
		</div>

        {% endblock %}
		
		