{% extends "base.html" %}
{% load static %}
{% block content %}
		<!--sab banner start-->
		<div class="sab_banner_wrap overlay">
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="{% static 'images/3.jpg' %}" alt="">
                </div>
               
            </div>
            <div class="container">
              <br><br>
				<div class="sab_banner_text">
					<h3>gallery</h3>
					<ul class="breadcrumb">
					  <li class="active">gallery</li>
					</ul>
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
		<!--sab banner end-->
		
		<div class="content">

			{% comment %} <section>
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{% static 'extra-images/ministry_grid_img_01.jpg' %}" alt="">
								</figure>
								<h4><a href="#">Children</a></h4>
							</div>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{% static 'extra-images/ministry_grid_img_02.jpg' %}" alt="">
								</figure>
								<h4><a href="#">Student</a></h4>
							</div>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{% static 'extra-images/ministry_grid_img_03.jpg' %}" alt="">
								</figure>
								<h4><a href="#">Adults</a></h4>
							</div>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{% static 'extra-images/ministry_grid_img_04.jpg' %}" alt="">
								</figure>
								<h4><a href="#">Children</a></h4>
							</div>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{% static 'extra-images/ministry_grid_img_05.jpg' %}" alt="">
								</figure>
								<h4><a href="#">Special Needs</a></h4>
							</div>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{% static 'extra-images/ministry_grid_img_06.jpg' %}" alt="">
								</figure>
								<h4><a href="#">Worship Arts</a></h4>
							</div>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{% static 'extra-images/ministry_grid_img_07.jpg' %}" alt="">
								</figure>
								<h4><a href="#">Pre-School</a></h4>
							</div>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{% static 'extra-images/ministry_grid_img_08.jpg' %}" alt="">
								</figure>
								<h4><a href="#">Institute</a></h4>
							</div>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{% static 'extra-images/ministry_grid_img_04.jpg' %}" alt="">
								</figure>
								<h4><a href="#">Worship Arts</a></h4>
							</div>
						</div>	
					</div>
				</div>
			</section> {% endcomment %}
			<section>
				<div class="container">
					<div class="row">
						{% for image in images %}
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="church_ministry_cols">
								<figure>
									<img src="{{ image.gallery_image.url }}" alt="{{ image.gallery_name }}">
								</figure>
								<h4><a href="#">{{ image.gallery_name }}</a></h4>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>

            
		</div>

        {% endblock %}