<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home - Divine Church HTML Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font-awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Slick Slider -->
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/fancy_slider.css" rel="stylesheet">
    <!-- audio.css -->
    <link href="css/audio.css" rel="stylesheet">
    <!-- Typography -->
    <link href="css/typography.css" rel="stylesheet">
    <!-- widget.css -->
    <link href="css/widget.css" rel="stylesheet">
    <!-- svg-icons.css -->
    <link href="css/svg-icons.css" rel="stylesheet">
    <!-- component-responsive.css -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- shortcodes.css -->
    <link href="css/shortcodes.css" rel="stylesheet">
    <!-- colors.css -->
    <link href="css/colors.css" rel="stylesheet">
    <!-- style.css -->
    <link href="style.css" rel="stylesheet">

  </head>
  <body>

    <!--church wrapper-->
    <div class="wrapper">
        <!--church header-->
        <header class="church_version_1">
            <!--church header container-->
            <div class="church_container">
                <!--church container-->
                <div class="container">
                    <!--church logo-->
                    <div class="church_logo">
                        <h1><a href="index.html"><img src="images/church_logo_02.png" alt="church logo"></a></h1>
                    </div>
                    <!--church logo ends-->
                    <div id="kode-responsive-navigation" class="dl-menuwrapper">
                        <button class="dl-trigger">Menu</button>
                        <ul class="dl-menu">
                            <li class="active"><a class="active" href="index.html">Home</a>
                                
                            </li>
                            <li class="menu-item"><a href="">Ministries</a>
                               
                            </li>
                            <li class="menu-item"><a href="">Features</a>
                               
                            </li>
                            <li class="menu-item"><a href="">causes</a>
                                
                            </li>
                            <li class="menu-item"><a href="">Our Blog</a>
                               
                            </li>
                            <li><a href="prayer_wall.html">Schedule</a></li>
                            <li><a href="contact_us.html">contact us</a></li>
                        </ul>
                    </div>
                    <!--Responsive Menu END-->
                    
                    <!--church menus-->
                    <div class="church_menu_row">
                        <!--church music player-->
                        <div class="church_audio_row">
                            <div class="audioplayer">
                                <ul class="playlist">
                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
                                    </li>
                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                        <!--church music player ends-->   
                        
                        <!--church social icons-->
                        <div class="social-icons">
                            <ul class="social-icons_list">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <!--church social icons ends-->

                        <!--church social navigation menu-->
                        <div class="church_social-menu">
                            <div class="church_navigation">
                                <nav class="navigation">                                                          
                                    <ul>
                                        <li><a href="index.html">Home</a>
                                            <ul class="children submenu">
                                                <li><a href="index.html">version 1</a></li>
                                                <li><a href="version-2.html">version 2</a></li>
                                                <li><a href="version-3.html">version 3</a></li>
                                                <li><a href="version-4.html">version 4</a></li>
                                                <li><a href="version-5.html">version 5</a></li>
                                                <li><a href="version-6.html">version 6</a></li>
                                                <li><a href="version-7.html">version 7</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Ministries</a>
                                            <ul class="children submenu">
                                                <li><a href="ministry_blog.html">ministry blog</a></li>
                                                <li><a href="ministry_detail.html">ministry detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Features</a>
                                            <ul class="children submenu">
                                                <li><a href="sermon.html">sermon</a></li>
                                                <li><a href="sermon-detail.html">sermon detail</a></li>
												<li><a href="comeing_soon.html">comeing soon</a></li>
												<li><a href="404.html">404</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="causes.html">causes</a>
                                            <ul class="children submenu">
                                                <li><a href="causes.html">causes</a></li>
                                                <li><a href="causes-listing.html">causes listing</a></li>
                                                <li><a href="causes_detail.html">causes detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Our Blog</a>
                                            <ul class="children submenu">
                                                <li><a href="blog-posts.html">blog posts</a></li>
                                                <li><a href="blog-detail.html">blog detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="prayer_wall.html">Schedule</a></li>
                                        <li><a href="contact_us.html">contact us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--church cart menu-->
                            <div class="cart_items_show">
                                <ul>
                                    <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i><sup>2</sup></a></li>
                                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <!--church cart menu ends-->
                        </div>
                        <!--church social navigation menu ends-->
                    </div>
                    <!--church menus ends-->
                </div>
                 <!--church container ends-->
            </div>
            <!--church header container end-->
        </header>
        <!--church header ends-->


        <!--church banner-->
    	<div class="church_banner">	
            <!--church banner slider-->
            <ul class="full-banner sb-slider">
                <!--church banner slider item-->
                <li>
                   <img src="extra-images/church_banner01_img_01.jpg" alt="image1"/>
                    <div class="slider-caption container">
                        <span>June 10, 2017  @  09 :00  to 11 : 00 A.M</span>
                        <div class="sb_title">God Is Love</div>
                        <ul class="countdown">
                            <li><h3 class="days">23</h3><span>Days</span></li>
                            <li><h3 class="hours">36</h3><span>Hours</span></li>
                            <li><h3 class="minutes">50</h3><span>Minutes</span></li>
                            <li><h3 class="seconds">18</h3><span>second</span></li>
                        </ul>
                        <div class="banner_buttons">
                            <a href="#" class="default_btn border-white">Book Your Seat</a>
                            <a href="#" class="default_btn border-white">View Schedule</a>
                        </div>
                    </div>
                </li>
                <!--church banner slider item-->
                <li>
                    <img src="extra-images/church_banner01_img_02.jpg" alt="image2"/>
                    <div class="slider-caption container">
                        <span>June 10, 2017  @  09 :00  to 11 : 00 A.M</span>
                        <div class="sb_title">God Is Love</div>
                        <ul class="countdown">
                            <li><h3 class="days">23</h3><span>Days</span></li>
                            <li><h3 class="hours">36</h3><span>Hours</span></li>
                            <li><h3 class="minutes">50</h3><span>Minutes</span></li>
                            <li><h3 class="seconds">18</h3><span>second</span></li>
                        </ul>
                        <div class="banner_buttons">
                            <a href="#" class="default_btn border-white">Book Your Seat</a>
                            <a href="#" class="default_btn border-white">View Schedule</a>
                        </div>
                    </div>
                </li>
                <!--church banner slider item-->
                <li>
                    <img src="extra-images/church_banner01_img_03.jpg" alt="image1"/>
                    <div class="slider-caption container">
                        <span>June 10, 2017  @  09 :00  to 11 : 00 A.M</span>
                        <div class="sb_title">God Is Love</div>
                        <ul class="countdown">
                            <li><h3 class="days">23</h3><span>Days</span></li>
                            <li><h3 class="hours">36</h3><span>Hours</span></li>
                            <li><h3 class="minutes">50</h3><span>Minutes</span></li>
                            <li><h3 class="seconds">18</h3><span>second</span></li>
                        </ul>
                        <div class="banner_buttons">
                            <a href="#" class="default_btn border-white">Book Your Seat</a>
                            <a href="#" class="default_btn border-white">View Schedule</a>
                        </div>
                    </div>
                </li>
                <!--church banner slider item-->
                <li>
                    <img src="extra-images/church_banner01_img_04.jpg" alt="image1"/>
                    <div class="slider-caption container">
                        <span>June 10, 2017  @  09 :00  to 11 : 00 A.M</span>
                        <div class="sb_title">God Is Love</div>
                        <ul class="countdown">
                            <li><h3 class="days">23</h3><span>Days</span></li>
                            <li><h3 class="hours">36</h3><span>Hours</span></li>
                            <li><h3 class="minutes">50</h3><span>Minutes</span></li>
                            <li><h3 class="seconds">18</h3><span>second</span></li>
                        </ul>
                        <div class="banner_buttons">
                            <a href="#" class="default_btn border-white">Book Your Seat</a>
                            <a href="#" class="default_btn border-white">View Schedule</a>
                        </div>
                    </div>
                </li>
                <!--church banner slider item-->
                <li>
                    <img src="extra-images/church_banner01_img_01.jpg" alt="image1"/>
                    <div class="slider-caption container">
                        <span>June 10, 2017  @  09 :00  to 11 : 00 A.M</span>
                        <div class="sb_title">God Is Love</div>
                        <ul class="countdown">
                            <li><h3 class="days">23</h3><span>Days</span></li>
                            <li><h3 class="hours">36</h3><span>Hours</span></li>
                            <li><h3 class="minutes">50</h3><span>Minutes</span></li>
                            <li><h3 class="seconds">18</h3><span>second</span></li>
                        </ul>
                        <div class="banner_buttons">
                            <a href="#" class="default_btn border-white">Book Your Seat</a>
                            <a href="#" class="default_btn border-white">View Schedule</a>
                        </div>
                    </div>
                </li>
                <!--church banner slider item-->
                <li>
                    <img src="extra-images/church_banner01_img_02.jpg" alt="image1"/>
                    <div class="slider-caption container">
                        <span>June 10, 2017  @  09 :00  to 11 : 00 A.M</span>
                        <div class="sb_title">God Is Love</div>
                        <ul class="countdown">
                            <li><h3 class="days">23</h3><span>Days</span></li>
                            <li><h3 class="hours">36</h3><span>Hours</span></li>
                            <li><h3 class="minutes">50</h3><span>Minutes</span></li>
                            <li><h3 class="seconds">18</h3><span>second</span></li>
                        </ul>
                        <div class="banner_buttons">
                            <a href="#" class="default_btn border-white">Book Your Seat</a>
                            <a href="#" class="default_btn border-white">View Schedule</a>
                        </div>
                    </div>
                </li>
                <!--church banner slider item ends-->
            </ul>
            <!--church banner slider ends-->
            <div class="nav-arrows">
                <a href="#">Next</a>
                <a href="#">Previous</a>
            </div>

            <div class="nav-dots">
                <span class="nav-dot-current"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!--church banner ends-->

        <div class="content">
            
            <div class="church_aboutus">
                <div class="container">
                    <div class="church_about_us">
                        <div class="church_heading align_left">
                            <h3>About Us</h3>
                            <p>There are countless threats to the unity of the body (Colossians 3:6–9). Paul knows that brothers and sisters.There are countless threats to the unity of the body (Colossians 3:6–9). Paul knows that brothers and sisters...</p>
                        </div>

                        <div class="church_our_services">
                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="our_services_col">
                                        <span class="icon-building"></span>
                                        <h5><a href="#">Daily Prayer</a></h5>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="our_services_col">
                                        <span class="icon-building"></span>
                                        <h5><a href="#">Daily Prayer</a></h5>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="our_services_col">
                                        <span class="icon-silhouette"></span>
                                        <h5><a href="#">Daily Prayer</a></h5>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="our_services_col">
                                        <span class="icon-christmas"></span>
                                        <h5><a href="#">Daily Prayer</a></h5>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                    <div class="church_picture"></div>
                </div>

            </div>
            
            <section class="church_soft_services bg_none">
                <div class="container">
                    <div class="church_heading align_center">
                        <h3>Our Ministry</h3>
                        <span ><sup class="icon-cross"></sup></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="soft_column">
                                <figure>
                                    <img src="extra-images/our_soft_col_img01.jpg" alt="">
                                    <div class="soft_column_caption">
                                        <h4>Children’s Ministry</h4>
                                        <p>Praesent eget metus ligula. In tempus fermentum dui. Praesent tempus velit facilisis, ultricies nunc sed, sodales mi Ut...</p>
                                        <a href="#" class="default_small_btn theme-bg_btn">Read More</a>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="soft_column">
                                <figure>
                                    <img src="extra-images/our_soft_col_img02.jpg" alt="">
                                    <div class="soft_column_caption">
                                        <h4>Children’s Ministry</h4>
                                        <p>Praesent eget metus ligula. In tempus fermentum dui. Praesent tempus velit facilisis, ultricies nunc sed, sodales mi Ut...</p>
                                        <a href="#" class="default_small_btn theme-bg_btn">Read More</a>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="soft_column">
                                <figure>
                                    <img src="extra-images/our_soft_col_img03.jpg" alt="">
                                    <div class="soft_column_caption">
                                        <h4>Children’s Ministry</h4>
                                        <p>Praesent eget metus ligula. In tempus fermentum dui. Praesent tempus velit facilisis, ultricies nunc sed, sodales mi Ut...</p>
                                        <a href="#" class="default_small_btn theme-bg_btn">Read More</a>
                                    </div>
                                </figure>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="church_testimonial_02">
                <div class="container">
                    <div class="church_heading align_center white-color">
                        <h3>Prayer Wall</h3>
                        <span><sup class="icon-cross"></sup></span>
                    </div>
                    <div class="church_testimonial_nav">
                        <div class="ch_testimonial_item">
                            <img src="extra-images/testimonial_img_01.jpg" alt="">
                        </div>
                        <div class="ch_testimonial_item">
                            <img src="extra-images/testimonial_img_02.jpg" alt="">
                        </div>
                        <div class="ch_testimonial_item">
                            <img src="extra-images/testimonial_img_03.jpg" alt="">
                        </div>
                        <div class="ch_testimonial_item">
                            <img src="extra-images/testimonial_img_04.jpg" alt="">
                        </div>
                        <div class="ch_testimonial_item">
                            <img src="extra-images/testimonial_img_05.jpg" alt="">
                        </div>
                         <div class="ch_testimonial_item">
                            <img src="extra-images/testimonial_img_01.jpg" alt="">
                        </div>
                        <div class="ch_testimonial_item">
                            <img src="extra-images/testimonial_img_02.jpg" alt="">
                        </div>
                        <div class="ch_testimonial_item">
                            <img src="extra-images/testimonial_img_03.jpg" alt="">
                        </div>
                    </div>
                    <div class="church_testimonial_slider">
                        <div class="testimonial_item">
                            <p>Suspendisse bibendum egestas tellus et rhoncus. Pellentesque et sodales magna, non semper odio. Quisque ut porttitor sem. Sed nec posuere ante. In auctor vulputate rhoncus. Pellentesque laoreet urna ut erat mollis, eu maximus mauris ultrices. Curabitur sit amet sapien id mauris ultricies aliquam. Curabitur quis tincidunt mauris, ac pretium ligula. Aliquam quis arcu iaculis, aliquet ante quis, porttitor mauris. Proin dictum sodales nisi, nec lobortis enim bibendum id.</p>
                            <span>- Jay Sean</span>
                        </div>
                        <div class="testimonial_item">
                            <p>Suspendisse bibendum egestas tellus et rhoncus. Pellentesque et sodales magna, non semper odio. Quisque ut porttitor sem. Sed nec posuere ante. In auctor vulputate rhoncus. Pellentesque laoreet urna ut erat mollis, eu maximus mauris ultrices. Curabitur sit amet sapien id mauris ultricies aliquam. Curabitur quis tincidunt mauris, ac pretium ligula. Aliquam quis arcu iaculis, aliquet ante quis, porttitor mauris. Proin dictum sodales nisi, nec lobortis enim bibendum id.</p>
                            <span>- Jay Sean</span>
                        </div>
                        <div class="testimonial_item">
                            <p>Suspendisse bibendum egestas tellus et rhoncus. Pellentesque et sodales magna, non semper odio. Quisque ut porttitor sem. Sed nec posuere ante. In auctor vulputate rhoncus. Pellentesque laoreet urna ut erat mollis, eu maximus mauris ultrices. Curabitur sit amet sapien id mauris ultricies aliquam. Curabitur quis tincidunt mauris, ac pretium ligula. Aliquam quis arcu iaculis, aliquet ante quis, porttitor mauris. Proin dictum sodales nisi, nec lobortis enim bibendum id.</p>
                            <span>- Jay Sean</span>
                        </div>
                        <div class="testimonial_item">
                            <p>Suspendisse bibendum egestas tellus et rhoncus. Pellentesque et sodales magna, non semper odio. Quisque ut porttitor sem. Sed nec posuere ante. In auctor vulputate rhoncus. Pellentesque laoreet urna ut erat mollis, eu maximus mauris ultrices. Curabitur sit amet sapien id mauris ultricies aliquam. Curabitur quis tincidunt mauris, ac pretium ligula. Aliquam quis arcu iaculis, aliquet ante quis, porttitor mauris. Proin dictum sodales nisi, nec lobortis enim bibendum id.</p>
                            <span>- Jay Sean</span>
                        </div>
                        <div class="testimonial_item">
                            <p>Suspendisse bibendum egestas tellus et rhoncus. Pellentesque et sodales magna, non semper odio. Quisque ut porttitor sem. Sed nec posuere ante. In auctor vulputate rhoncus. Pellentesque laoreet urna ut erat mollis, eu maximus mauris ultrices. Curabitur sit amet sapien id mauris ultricies aliquam. Curabitur quis tincidunt mauris, ac pretium ligula. Aliquam quis arcu iaculis, aliquet ante quis, porttitor mauris. Proin dictum sodales nisi, nec lobortis enim bibendum id.</p>
                            <span>- Jay Sean</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg_none">
                <div class="church_causes">
                    <div class="container">
                        <div class="church_heading align_center">
                            <h3>Our Causes</h3>
                            <span ><sup class="icon-cross"></sup></span>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="church_causes_post hover_effect_02">
                                    <figure>
                                        <img src="extra-images/cause_img_01.png" alt="img">
                                        <div class="simple_effect">
                                            <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                        </div>
                                    </figure>
                                    <div class="church_causes_content">
                                        <span>In Gode, Hope</span>
                                        <h4><a href="">Childrens Need Your Help</a></h4>
                                        <p>Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Fusce neque. Suspendisse faucibus, nunc et pellentesque egestas...</p>
                                        <a href="#" class="">Learn More ...</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="church_causes_post hover_effect_02 border-left-right">
                                    <figure>
                                        <img src="extra-images/cause_img_01.png" alt="img">
                                        <div class="simple_effect">
                                            <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                        </div>
                                    </figure>
                                    <div class="church_causes_content">
                                        <span>In Gode, Hope</span>
                                        <h4><a href="">Childrens Need Your Help</a></h4>
                                        <p>Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Fusce neque. Suspendisse faucibus, nunc et pellentesque egestas...</p>
                                        <a href="#" class="">Learn More ...</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="church_causes_post hover_effect_02">
                                    <figure>
                                        <img src="extra-images/cause_img_01.png" alt="img">
                                        <div class="simple_effect">
                                            <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                        </div>
                                    </figure>
                                    <div class="church_causes_content">
                                        <span>In Gode, Hope</span>
                                        <h4><a href="">Childrens Need Your Help</a></h4>
                                        <p>Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Fusce neque. Suspendisse faucibus, nunc et pellentesque egestas...</p>
                                        <a href="#" class="">Learn More ...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>    
            </section>

            <div class="our-team">
                <div class="container">
                    <div class="church_heading align_center">
                        <h3>Our Team</h3>
                        <span ><sup class="icon-cross"></sup></span>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="our_team_column">
                                <figure>
                                    <img src="extra-images/team1_img_01.jpg" alt="">
                                    <div class="our_team_services">
                                        <ul class="social-icons">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </figure>
                                <div class="our_team_caption">
                                    <a href="#">Annie Martin</a>
                                    <span>Active Nun</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="our_team_column">
                                <figure>
                                    <img src="extra-images/team1_img_02.jpg" alt="">
                                    <div class="our_team_services">
                                        <ul class="social-icons">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </figure>
                                <div class="our_team_caption">
                                    <a href="#">Annie Martin</a>
                                    <span>Active Nun</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="our_team_column">
                                <figure>
                                    <img src="extra-images/team1_img_03.jpg" alt="">
                                    <div class="our_team_services">
                                        <ul class="social-icons">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </figure>
                                <div class="our_team_caption">
                                    <a href="#">Annie Martin</a>
                                    <span>Active Nun</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="our_team_column">
                                <figure>
                                    <img src="extra-images/team1_img_04.jpg" alt="">
                                    <div class="our_team_services">
                                        <ul class="social-icons">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </figure>
                                <div class="our_team_caption">
                                    <a href="#">Annie Martin</a>
                                    <span>Active Nun</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="church_template_testimonial">
                <div class="container">
                    <div class="slider_full">
                        <div class="item">
                            <div class="testimonial_content">
                                <figure><img src="extra-images/testimonial_img_01.png" alt=""></figure>
                                <p>Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Fusce neque. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Vivamus aliquet...</p>
                                <a href="">Ryan Haris</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial_content">
                                <figure><img src="extra-images/testimonial_img_01.png" alt=""></figure>
                                <p>Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Fusce neque. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Vivamus aliquet...</p>
                                <a href="">Ryan Haris</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial_content">
                                <figure><img src="extra-images/testimonial_img_01.png" alt=""></figure>
                                <p>Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Fusce neque. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Vivamus aliquet...</p>
                                <a href="">Ryan Haris</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial_content">
                                <figure><img src="extra-images/testimonial_img_01.png" alt=""></figure>
                                <p>Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Fusce neque. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Vivamus aliquet...</p>
                                <a href="">Ryan Haris</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section>
                <div class="lastest-blog-posts">
                    <div class="container">
                        <div class="church_heading align_center">
                            <h3>Latest News</h3>
                            <span ><sup class="icon-cross"></sup></span>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="post_column hover-effect-03">
                                    <figure>
                                        <img src="extra-images/blog1_post_img01.jpg" alt="">
                                        <div class="simple_effect">
                                            <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                        </div>
                                    </figure>
                                    <div class="post-content">
                                        <span class="date">28<b>July</b></span>
                                        <h6><a href="#">Catch Up the New Light Of Life</a></h6>
                                        <p>There are many variations passag lorem ipsu Ipsum available but themajority have in shadowsuffered alteration finally.</p>
                                        <a href="#" class="default_btn theme-bg_btn">Read More</a>
                                    </div>
                                </div>
                                <div class="rtl_content post_column hover-effect-03">
                                    <div class="post-content">
                                        <span class="date">28<b>July</b></span>
                                        <h6><a href="#">Catch Up the New Light Of Life</a></h6>
                                        <p>There are many variations passag lorem ipsu Ipsum available but themajority have in shadowsuffered alteration finally.</p>
                                        <a href="#" class="default_btn theme-bg_btn">Read More</a>
                                    </div>
                                    <figure>
                                        <img src="extra-images/blog1_post_img02.jpg" alt="">
                                        <div class="simple_effect">
                                            <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-cn post_column hover-effect-03">
                                    <figure>
                                        <img src="extra-images/blog1_post_img03.jpg" alt="">
                                        <div class="simple_effect">
                                            <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                        </div>
                                    </figure>
                                    <div class="post-content">
                                        <span class="date">28<b>July</b></span>
                                        <h6><a href="#">Catch Up the New Light Of Life</a></h6>
                                        <p>There are many variations passag lorem ipsu Ipsum available but themajority have in shadowsuffered alteration finally.</p>
                                        <a href="#" class="default_btn theme-bg_btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>    
        <footer>
            <div class="slider_images">
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_01.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_02.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_03.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_04.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_05.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_06.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_01.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_02.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_03.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_04.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_05.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_06.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="footer_board">
                <div class="container">
                    <div class="background-logos">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer_detail">
                                    <h4 class="footer_title">Divine Church</h4>
                                    <p>Lorem ipsum dolor sit amet, co sectetur adipiscing elit. Nullam convallis euismod mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nlis <br>euismod mollis. Nullam convallis euismod mollisNullam convallis euismod mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nlis euismod mollis.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer_blog">
                                    <h4 class="footer_title">Latest News</h4>
                                    <div class="footer_blog_post padding-top-0">
                                        <figure>
                                            <img src="extra-images/footer_post_img_01.jpg" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/footer_post_img_01.jpg" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="footer_blog">
                                    <h4 class="footer_title">Our Address</h4>
                                    <p>Nlis euismod mollis. Nullam con euismod mol.Nullam convallis euismod mollis.</p>
                                    <span><i class="fa fa-envelope" aria-hidden="true"></i>Info@example.com</span>
                                    <span><i class="fa fa-location-arrow" aria-hidden="true"></i>Joseph Colony, Allen Street New York</span>
                                    <span><i class="fa fa-phone" aria-hidden="true"></i>+123456789</span>
                                </div>
                            </div>       
                        </div>
                    </div>
                    <div class="footer_twitter">
                        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <div class="footer_twitter_caption">
                            <p>Proin dapibus dapibus nunc, sit amet scelerisque est imperdiet tristique. Sed lobortis metus ut consequat,.<a href="">pikdfjsoamjdh</a></p>
                            <small>2 Hours Ago</small>
                        </div>
                        <div class="pull-right"><a href="#" class="default_btn black-bg_btn">Follow us</a></div>
                    </div>
                    <div class="footer_other_sections">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="church_flicker">
                                    <h4 class="footer_title">Flickr Feed</h4>
                                    <ul class="church_flicker_gallery">
                                        <li><a href="#"><img src="extra-images/flicker_img01.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img02.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img03.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img04.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img05.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img06.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="church_flicker">
                                    <h4 class="footer_title">Latest Prayers</h4>
                                    <div class="footer_blog_post padding-top-0">
                                        <figure>
                                            <img src="extra-images/footer_post_img_04.png" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/footer_post_img_04.png" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/footer_post_img_04.png" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="church_flicker">
                                    <h4 class="footer_title">Tags</h4>
                                    <ul class="footer_tags">
                                        <li><a href="">Church</a></li>
                                        <li><a href="">Religious</a></li>
                                        <li><a href="">Real Belief</a></li>
                                        <li><a href="">Real Path</a></li>
                                        <li><a href="">Divine Way</a></li>
                                        <li><a href="">Amen</a></li>
                                        <li><a href="">Sympathy</a></li>
                                        <li><a href="">Rightousnes</a></li>
                                        <li><a href="">Pray</a></li>
                                        <li><a href="">Prayers</a></li>
                                        <li><a href="">Love</a></li>
                                        <li><a href="">Struggle</a></li>
                                        <li><a href="">Divinity</a></li>
                                        <li><a href="">Sweet Love</a></li>
                                        <li><a href="">Ways</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
		
		<div class="copyright-content center">
			<div class="container">
				<p><i class="fa fa-copyright" aria-hidden="true"></i>All Rights Reserved to <a href="index.html">KodeForest</a>.</p>
			</div>
		</div>
		
        <!--video deta-->
        <div id="v1" class="videos_play_modal modal fade" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="default_vides_playblack">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <iframe height="315" src="https://www.youtube.com/embed/VJTAjonuAiU?ecver=1&autoplay=0&controls=1&loop=1&playlist=8HSr8BjcufM&amp;showinfo=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <!--church wrapper ends-->


    <!-- jquery javascript-->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap script-->
    <script src="js/bootstrap.js"></script>
    <!-- modernizr script-->
    <script src="js/modernizr.js"></script>
    <!-- responsive-jquery script-->
    <script src="js/responsive-jquery.js"></script>
    <!-- Audio script-->
    <script src="js/audio.js"></script>
    <!-- Slick Slider script-->
    <script src="js/slick.js"></script>
    <script src="js/slider_fancy.js"></script>
    <script src="js/accordian.js"></script>
    <!-- Custom scripts-->
    <script src="js/custom.js"></script>
  </body>
</html>