{% extends "base.html" %}
{% load static %}
{% block content %} 
            <!-- header -->
            <!-- page-header -->
            <div class="page-title-wrap typo-white">
                <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/1.jpg' %}">
					<span class="theme-overlay"></span>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="page-title-inner">
									<div id="breadcrumb" class="breadcrumb margin-bottom-10">
                                        <a href="index.html" class="theme-color">Home</a>
                                        <span class="current">Daily Mass</span>
                                    </div>
                                    <h1 class="page-title mb-0">Daily Mass</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header -->
            <!-- Page Content -->
            <div class="content-wrapper pad-none">
                <div class="content-inner">
                    <!-- Events Section -->
                    <section id="events-section" class="events-section pad-top-120 pad-bottom-70">
                        <!-- Screan Reader Text -->
                        <h2 class="screen-reader-text">Mass</h2>
                        <div class="container">
                            <!-- Row -->
                            <div class="row">
                                <!-- Col -->
                                <div class="col-md-12">
                                    <!-- Events Main wrap -->
                                    <div class="events-main-wrapper events-grid events-style-4">
                                        <div class="row">
                                            {% for mass in mass %}
                                            <!-- Col-md -->
                                            <div class="col-lg-4 col-md-6">
                                                <!-- Events Inner -->
                                                <div class="events-inner margin-bottom-30">
                                                    <!-- Events details -->
                                                    <div class="events-details pad-30">
                                                        <div class="event-date margin-bottom-15">
                                                            {{ mass.date|date:"M d" }}
                                                            <span class="event-time">8.00 am</span> <!-- You can customize the time here -->
                                                        </div>
                                                        <div class="event-title mb-3">
                                                            <h5><a href="#">{{ mass.Mass_Name }}</a></h5>
                                                        </div>
                                                        <div class="event-excerpt mb-3">
                                                            <p>{{ mass.description }}</p>
                                                        </div>
                                                        <div class="read-more">
                                                            <a href="#">Mass Details</a> <!-- Link to mass details page if needed -->
                                                        </div>                                                        
                                                    </div>
                                                    <!-- Events details end -->
                                                </div>
                                                <!-- Events Inner end -->
                                            </div>
                                            <!-- Col-md end -->
                                            {% endfor %}
                                        </div>
                                        <!-- Events Row end -->
                                    </div>
                                    <!-- Events Main wrap end -->
                                </div>
                                <!-- Col end -->
                            </div>
                            <!-- Row end -->
                        </div>
                    </section>
                    
                    <!-- events Section Ends -->
                </div>
            </div>
        </div>
        <!-- .page-wrapper-inner -->
    </div>
    <!--page-wrapper-->    

    {% endblock %}