<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Causes Listing - Divine Church HTML Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font-awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Slick Slider -->
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/fancy_slider.css" rel="stylesheet">
    <!-- audio.css -->
    <link href="css/audio.css" rel="stylesheet">
    <!-- Typography -->
    <link href="css/typography.css" rel="stylesheet">
    <!-- widget.css -->
    <link href="css/widget.css" rel="stylesheet">
    <!-- selectric.css -->
    <link href="css/selectric.css" rel="stylesheet">
    <!-- svg-icons.css -->
    <link href="css/svg-icons.css" rel="stylesheet">

    <!-- shortcodes.css -->
    <link href="css/shortcodes.css" rel="stylesheet">
    <!-- colors.css -->
    <link href="css/colors.css" rel="stylesheet">
    <!-- style.css -->
    <link href="style.css" rel="stylesheet">
	<!-- component-responsive.css -->
    <link href="css/responsive.css" rel="stylesheet">

  </head>
  <body class="bg_none padding_none">

    <!--church wrapper-->
    <div class="wrapper">
	<!--church header-->
        <header class="header_version_4">
            <div class="header_top_row">
                <div class="container">
                    <ul class="church_accounts_language">
                        <li class="">
                            <div class="language_changer">
                                <select class="location-select">
                                    <option value="01">English</option>
                                    <option value="02">English</option>
                                    <option value="03">English</option>
                                </select>
                                <div class="language_velue">
                                    <ul>
                                        <li class="01"><img src="images/flg_01.jpg" alt=""></li>
                                        <li class="02"><img src="images/flg_01.jpg" alt=""></li>
                                        <li class="03"><img src="images/flg_01.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i>login/user</a></li>
                        <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>Live Chat</a></li>
                    </ul>
                    <div class="pull-right">
                        <ul class="church_login_services">
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>My WishList</a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My cart</a></li>
                        </ul>
                        <!--church social icons-->
                        <div class="social-icons">
                            <ul class="social-icons_list">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <!--church social icons ends-->
                    </div>
                </div>
            </div>
            <!--church header container-->
            <div class="church_container_version2">
                <!--church container-->
                <div class="container">
                    <!--church logo-->
                    <div class="church_logo">
                        <h1><a href="index.html"><img src="images/church_logo_02.png" alt="church logo"></a></h1>
                    </div>
                    <!--church logo ends-->

                    <!--church menus-->
                    <div class="church_menu_row">
                        <!--church music player-->
                        <div class="church_audio_row">
                            <div class="audioplayer">
                                <ul class="playlist">
                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
                                    </li>
                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                        <!--church music player ends-->   
                    </div>    
                </div>        
            </div>    
            <div class="church_navigation_block">
                <div class="container">
                    <div id="kode-responsive-navigation" class="dl-menuwrapper">
                        <button class="dl-trigger">Menu</button>
                        <ul class="dl-menu">
                            <li class="active"><a class="active" href="index.html">Home</a>
                                <ul class="dl-submenu">
                                    <li><a href="index.html">version 1</a></li>
                                    <li><a href="version-2.html">version 2</a></li>
                                    <li><a href="version-3.html">version 3</a></li>
                                    <li><a href="version-4.html">version 4</a></li>
                                    <li><a href="version-5.html">version 5</a></li>
                                    <li><a href="version-6.html">version 6</a></li>
                                    <li><a href="version-7.html">version 7</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="">Ministries</a>
                                <ul class="dl-submenu">
                                    <li><a href="ministry_blog.html">ministry blog</a></li>
                                    <li><a href="ministry_detail.html">ministry detail</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="">Features</a>
                                <ul class="dl-submenu">
                                    <li><a href="sermon.html">sermon</a></li>
                                    <li><a href="sermon-detail.html">sermon detail</a></li>
									<li><a href="comeing_soon.html">comeing soon</a></li>
									<li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="">causes</a>
                                <ul class="dl-submenu">
                                    <li><a href="causes.html">causes</a></li>
                                    <li><a href="causes-listing.html">causes listing</a></li>
                                    <li><a href="causes_detail.html">causes detail</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="">Our Blog</a>
                                <ul class="dl-submenu">
                                    <li><a href="blog-posts.html">blog posts</a></li>
                                    <li><a href="blog-detail.html">blog detail</a></li>
                                </ul>
                            </li>
                            <li><a href="prayer_wall.html">Schedule</a></li>
                            <li><a href="contact_us.html">contact us</a></li>
                        </ul>
                    </div>
                    <!--Responsive Menu END-->
                    
                    <!--church social navigation menu-->
                    <div class="church_navigation">
                        <nav class="navigation">                                                          
                            <ul>
                                        <li><a href="index.html">Home</a>
                                            <ul class="children submenu">
                                                <li><a href="index.html">version 1</a></li>
                                                <li><a href="version-2.html">version 2</a></li>
                                                <li><a href="version-3.html">version 3</a></li>
                                                <li><a href="version-4.html">version 4</a></li>
                                                <li><a href="version-5.html">version 5</a></li>
                                                <li><a href="version-6.html">version 6</a></li>
                                                <li><a href="version-7.html">version 7</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Ministries</a>
                                            <ul class="children submenu">
                                                <li><a href="ministry_blog.html">ministry blog</a></li>
                                                <li><a href="ministry_detail.html">ministry detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Features</a>
                                            <ul class="children submenu">
                                                <li><a href="sermon.html">sermon</a></li>
                                                <li><a href="sermon-detail.html">sermon detail</a></li>
												<li><a href="comeing_soon.html">comeing soon</a></li>
												<li><a href="404.html">404</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="causes.html">causes</a>
                                            <ul class="children submenu">
                                                <li><a href="causes.html">causes</a></li>
                                                <li><a href="causes-listing.html">causes listing</a></li>
                                                <li><a href="causes_detail.html">causes detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Our Blog</a>
                                            <ul class="children submenu">
                                                <li><a href="blog-posts.html">blog posts</a></li>
                                                <li><a href="blog-detail.html">blog detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="prayer_wall.html">Schedule</a></li>
                                        <li><a href="contact_us.html">contact us</a></li>
                                    </ul>
                        </nav>
                    </div>
                    <!--church cart menu-->
                    <div class="cart_items_show">
                        <ul>
                            <li><a href="#"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <!--church cart menu ends-->
                </div>
            </div>
            <!--church header container end-->
        </header>
        <!--church header ends-->
		
		<!--sab banner start-->
		<div class="sab_banner_wrap overlay">
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="images/sab-banner-bg.png" alt="">
                </div>
                <div class="banner_slide">
                    <img src="images/sab-banner-bg.png" alt="">
                </div>
                <div class="banner_slide">
                    <img src="images/sab-banner-bg.png" alt="">
                </div>
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>causes</h3>
					<ul class="breadcrumb">
					  <li class="active">causes listing</li>
					</ul>
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
		<!--sab banner end-->
		
		<div class="content">
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="church_causes_listing church_music_book">
                                <figure>
                                    <img src="extra-images/trak_img_01.jpg" alt="">
                                </figure>
                                <div class="church_blog_content">
                                    <div class="church_causes2_caption">
	                                    <div class="padding_div">
		                                    <h4><a href="#">Rhythms: Worship</a></h4>
		                                    <ul class="meta_address">
	                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Dr. Timothy Jang</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Sunday, February 2017</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Prayer, Sermons</a></li>
	                                        </ul>
                                        </div>
                                        <div class="caption">
                                			<p>Nulla facilisi. Donec ac posuere nibh. Integer convallis rhoncus vulputate. Aenean pretium quam mauris, quis hendrerit turpis hendrerit a. Ut ex quam, imperdiet eget augue eget, efficitur eleifend massa.Mauris quis mauris ullamcorper, lacinia turpis molestie, sollicitudin lacus. lum. Sed tincidunt nisl justo.</p> 
                                		</div>
                                	</div>
			                           
                                	<div class="share_social">
                                		<ul>
                                			<li class="spacial-padding"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                		</ul>
                                	</div>

                                </div>
                                <!--church music player-->
	                            <div class="audioplayer style_audio_2">
	                                <ul class="playlist">
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
	                                    </li>
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
	                                    </li>
	                                </ul>
	                            </div>
		                        <!--church music player ends--> 
                            </div>
						</div>
						<div class="col-md-12">
							<div class="church_causes_listing church_music_book">
                                <figure>
                                    <img src="extra-images/trak_img_02.jpg" alt="">
                                </figure>
                                <div class="church_blog_content">
                                    <div class="church_causes2_caption">
	                                    <div class="padding_div">
		                                    <h4><a href="#">Rhythms: Worship</a></h4>
		                                    <ul class="meta_address">
	                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Dr. Timothy Jang</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Sunday, February 2017</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Prayer, Sermons</a></li>
	                                        </ul>
                                        </div>
                                        <div class="caption">
                                			<p>Nulla facilisi. Donec ac posuere nibh. Integer convallis rhoncus vulputate. Aenean pretium quam mauris, quis hendrerit turpis hendrerit a. Ut ex quam, imperdiet eget augue eget, efficitur eleifend massa.Mauris quis mauris ullamcorper, lacinia turpis molestie, sollicitudin lacus. lum. Sed tincidunt nisl justo.</p> 
                                		</div>
                                	</div>
			                           
                                	<div class="share_social">
                                		<ul>
                                			<li class="spacial-padding"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                		</ul>
                                	</div>
                                	
                                </div>
                                <!--church music player-->
	                            <div class="audioplayer style_audio_2">
	                                <ul class="playlist">
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
	                                    </li>
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
	                                    </li>
	                                </ul>
	                            </div>
		                        <!--church music player ends--> 
                            </div>
						</div>
						<div class="col-md-12">
							<div class="church_causes_listing church_music_book">
                                <figure>
                                    <img src="extra-images/trak_img_03.jpg" alt="">
                                </figure>
                                <div class="church_blog_content">
                                    <div class="church_causes2_caption">
	                                    <div class="padding_div">
		                                    <h4><a href="#">Rhythms: Worship</a></h4>
		                                    <ul class="meta_address">
	                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Dr. Timothy Jang</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Sunday, February 2017</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Prayer, Sermons</a></li>
	                                        </ul>
                                        </div>
                                        <div class="caption">
                                			<p>Nulla facilisi. Donec ac posuere nibh. Integer convallis rhoncus vulputate. Aenean pretium quam mauris, quis hendrerit turpis hendrerit a. Ut ex quam, imperdiet eget augue eget, efficitur eleifend massa.Mauris quis mauris ullamcorper, lacinia turpis molestie, sollicitudin lacus. lum. Sed tincidunt nisl justo.</p> 
                                		</div>
                                	</div>
			                           
                                	<div class="share_social">
                                		<ul>
                                			<li class="spacial-padding"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                		</ul>
                                	</div>
                                	
                                </div>
                                <!--church music player-->
	                            <div class="audioplayer style_audio_2">
	                                <ul class="playlist">
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
	                                    </li>
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
	                                    </li>
	                                </ul>
	                            </div>
		                        <!--church music player ends--> 
                            </div>
						</div>
						<div class="col-md-12">
							<div class="church_causes_listing church_music_book">
                                <figure>
                                    <img src="extra-images/trak_img_04.jpg" alt="">
                                </figure>
                                <div class="church_blog_content">
                                    <div class="church_causes2_caption">
	                                    <div class="padding_div">
		                                    <h4><a href="#">Rhythms: Worship</a></h4>
		                                    <ul class="meta_address">
	                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Dr. Timothy Jang</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Sunday, February 2017</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Prayer, Sermons</a></li>
	                                        </ul>
                                        </div>
                                        <div class="caption">
                                			<p>Nulla facilisi. Donec ac posuere nibh. Integer convallis rhoncus vulputate. Aenean pretium quam mauris, quis hendrerit turpis hendrerit a. Ut ex quam, imperdiet eget augue eget, efficitur eleifend massa.Mauris quis mauris ullamcorper, lacinia turpis molestie, sollicitudin lacus. lum. Sed tincidunt nisl justo.</p> 
                                		</div>
                                	</div>
			                           
                                	<div class="share_social">
                                		<ul>
                                			<li class="spacial-padding"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                		</ul>
                                	</div>
                                	
                                </div>
                                <!--church music player-->
	                            <div class="audioplayer style_audio_2">
	                                <ul class="playlist">
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
	                                    </li>
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
	                                    </li>
	                                </ul>
	                            </div>
		                        <!--church music player ends--> 
                            </div>
						</div>
						<div class="col-md-12">
							<div class="church_causes_listing church_music_book">
                                <figure>
                                    <img src="extra-images/trak_img_05.jpg" alt="">
                                </figure>
                                <div class="church_blog_content">
                                    <div class="church_causes2_caption">
	                                    <div class="padding_div">
		                                    <h4><a href="#">Rhythms: Worship</a></h4>
		                                    <ul class="meta_address">
	                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Dr. Timothy Jang</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Sunday, February 2017</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Prayer, Sermons</a></li>
	                                        </ul>
                                        </div>
                                        <div class="caption">
                                			<p>Nulla facilisi. Donec ac posuere nibh. Integer convallis rhoncus vulputate. Aenean pretium quam mauris, quis hendrerit turpis hendrerit a. Ut ex quam, imperdiet eget augue eget, efficitur eleifend massa.Mauris quis mauris ullamcorper, lacinia turpis molestie, sollicitudin lacus. lum. Sed tincidunt nisl justo.</p> 
                                		</div>
                                	</div>
			                           
                                	<div class="share_social">
                                		<ul>
                                			<li class="spacial-padding"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                		</ul>
                                	</div>
                                	
                                </div>
                                <!--church music player-->
	                            <div class="audioplayer style_audio_2">
	                                <ul class="playlist">
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
	                                    </li>
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
	                                    </li>
	                                </ul>
	                            </div>
		                        <!--church music player ends--> 
                            </div>
						</div>
						<div class="col-md-12">
							<div class="church_causes_listing church_music_book">
                                <figure>
                                    <img src="extra-images/trak_img_06.jpg" alt="">
                                </figure>
                                <div class="church_blog_content">
                                    <div class="church_causes2_caption">
	                                    <div class="padding_div">
		                                    <h4><a href="#">Rhythms: Worship</a></h4>
		                                    <ul class="meta_address">
	                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Dr. Timothy Jang</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Sunday, February 2017</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Prayer, Sermons</a></li>
	                                        </ul>
                                        </div>
                                        <div class="caption">
                                			<p>Nulla facilisi. Donec ac posuere nibh. Integer convallis rhoncus vulputate. Aenean pretium quam mauris, quis hendrerit turpis hendrerit a. Ut ex quam, imperdiet eget augue eget, efficitur eleifend massa.Mauris quis mauris ullamcorper, lacinia turpis molestie, sollicitudin lacus. lum. Sed tincidunt nisl justo.</p> 
                                		</div>
                                	</div>
			                           
                                	<div class="share_social">
                                		<ul>
                                			<li class="spacial-padding"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                		</ul>
                                	</div>
                                	
                                </div>
                                <!--church music player-->
	                            <div class="audioplayer style_audio_2">
	                                <ul class="playlist">
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
	                                    </li>
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
	                                    </li>
	                                </ul>
	                            </div>
		                        <!--church music player ends--> 
                            </div>
						</div>
						<div class="col-md-12">
							<div class="church_causes_listing church_music_book">
                                <figure>
                                    <img src="extra-images/trak_img_07.jpg" alt="">
                                </figure>
                                <div class="church_blog_content">
                                    <div class="church_causes2_caption">
	                                    <div class="padding_div">
		                                    <h4><a href="#">Rhythms: Worship</a></h4>
		                                    <ul class="meta_address">
	                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Dr. Timothy Jang</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Sunday, February 2017</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Prayer, Sermons</a></li>
	                                        </ul>
                                        </div>
                                        <div class="caption">
                                			<p>Nulla facilisi. Donec ac posuere nibh. Integer convallis rhoncus vulputate. Aenean pretium quam mauris, quis hendrerit turpis hendrerit a. Ut ex quam, imperdiet eget augue eget, efficitur eleifend massa.Mauris quis mauris ullamcorper, lacinia turpis molestie, sollicitudin lacus. lum. Sed tincidunt nisl justo.</p> 
                                		</div>
                                	</div>
			                           
                                	<div class="share_social">
                                		<ul>
                                			<li class="spacial-padding"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                		</ul>
                                	</div>
                                	
                                </div>
                                <!--church music player-->
	                            <div class="audioplayer style_audio_2">
	                                <ul class="playlist">
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
	                                    </li>
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
	                                    </li>
	                                </ul>
	                            </div>
		                        <!--church music player ends--> 
                            </div>
						</div>
						<div class="col-md-12">
							<div class="church_causes_listing church_music_book">
                                <figure>
                                    <img src="extra-images/trak_img_08.jpg" alt="">
                                </figure>
                                <div class="church_blog_content">
                                    <div class="church_causes2_caption">
	                                    <div class="padding_div">
		                                    <h4><a href="#">Rhythms: Worship</a></h4>
		                                    <ul class="meta_address">
	                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Dr. Timothy Jang</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Sunday, February 2017</a></li>
	                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Prayer, Sermons</a></li>
	                                        </ul>
                                        </div>
                                        <div class="caption">
                                			<p>Nulla facilisi. Donec ac posuere nibh. Integer convallis rhoncus vulputate. Aenean pretium quam mauris, quis hendrerit turpis hendrerit a. Ut ex quam, imperdiet eget augue eget, efficitur eleifend massa.Mauris quis mauris ullamcorper, lacinia turpis molestie, sollicitudin lacus. lum. Sed tincidunt nisl justo.</p> 
                                		</div>
                                	</div>
			                           
                                	<div class="share_social">
                                		<ul>
                                			<li class="spacial-padding"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                			<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                		</ul>
                                	</div>
                                	
                                </div>
                                <!--church music player-->
	                            <div class="audioplayer style_audio_2">
	                                <ul class="playlist">
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg" data-artist="Chapter of Bible">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3">Gospel of judice Chapter 1</a>
	                                    </li>
	                                    <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg" data-artist="Jane Doe">
	                                        <a href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3">Dubstep</a>
	                                    </li>
	                                </ul>
	                            </div>
		                        <!--church music player ends--> 
                            </div>
						</div>
					</div>
				</div>
			</section>

            <!--church prayer block start-->
            <div class="church_prayer_block height padding-0">
                <div class="container">
                    <div class="church_prayer_detail padding">
                        <h3>You can always make a Differnce <br>With belief.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in convallis odio. Cras dui ex, ullamcorper eget rhoncus id, consequat non tortor.</p>
                        <a href="#" class="default_btn black-bg_btn">Join Us Now</a>
                    </div>
                    <div class="pull-right">
                        <figure>
                            <img src="extra-images/prayer_short_img1.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <!--church prayer block end-->
		</div>
		
		<footer>
            <div class="slider_images">
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_01.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_02.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_03.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_04.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_05.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_06.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_01.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_02.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_03.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_04.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_05.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="item_images">
                    <a href="">
                        <img src="extra-images/ft_church_images_06.jpg" alt="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="footer_board">
                <div class="container">
                    <div class="background-logos">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer_detail">
                                    <h4 class="footer_title">Divine Church</h4>
                                    <p>Lorem ipsum dolor sit amet, co sectetur adipiscing elit. Nullam convallis euismod mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nlis <br>euismod mollis. Nullam convallis euismod mollisNullam convallis euismod mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nlis euismod mollis.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer_blog">
                                    <h4 class="footer_title">Latest News</h4>
                                    <div class="footer_blog_post padding-top-0">
                                        <figure>
                                            <img src="extra-images/footer_post_img_01.jpg" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/footer_post_img_01.jpg" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="footer_blog">
                                    <h4 class="footer_title">Our Address</h4>
                                    <p>Nlis euismod mollis. Nullam con euismod mol.Nullam convallis euismod mollis.</p>
                                    <span><i class="fa fa-envelope" aria-hidden="true"></i>Info@example.com</span>
                                    <span><i class="fa fa-location-arrow" aria-hidden="true"></i>Joseph Colony, Allen Street New York</span>
                                    <span><i class="fa fa-phone" aria-hidden="true"></i>+123456789</span>
                                </div>
                            </div>       
                        </div>
                    </div>
                    <div class="footer_twitter">
                        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <div class="footer_twitter_caption">
                            <p>Proin dapibus dapibus nunc, sit amet scelerisque est imperdiet tristique. Sed lobortis metus ut consequat,.<a href="">pikdfjsoamjdh</a></p>
                            <small>2 Hours Ago</small>
                        </div>
                        <div class="pull-right"><a href="#" class="default_btn black-bg_btn">Follow us</a></div>
                    </div>
                    <div class="footer_other_sections">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="church_flicker">
                                    <h4 class="footer_title">Flickr Feed</h4>
                                    <ul class="church_flicker_gallery">
                                        <li><a href="#"><img src="extra-images/flicker_img01.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img02.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img03.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img04.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img05.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="extra-images/flicker_img06.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="church_flicker">
                                    <h4 class="footer_title">Latest Prayers</h4>
                                    <div class="footer_blog_post padding-top-0">
                                        <figure>
                                            <img src="extra-images/footer_post_img_04.png" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/footer_post_img_04.png" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                    <div class="footer_blog_post">
                                        <figure>
                                            <img src="extra-images/footer_post_img_04.png" alt="">
                                        </figure>
                                        <div class="footer-post-content">
                                            <a href="#">Lorem ipsum dolor sit amet, co sectetur</a>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>4 April 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="church_flicker">
                                    <h4 class="footer_title">Tags</h4>
                                    <ul class="footer_tags">
                                        <li><a href="">Church</a></li>
                                        <li><a href="">Religious</a></li>
                                        <li><a href="">Real Belief</a></li>
                                        <li><a href="">Real Path</a></li>
                                        <li><a href="">Divine Way</a></li>
                                        <li><a href="">Amen</a></li>
                                        <li><a href="">Sympathy</a></li>
                                        <li><a href="">Rightousnes</a></li>
                                        <li><a href="">Pray</a></li>
                                        <li><a href="">Prayers</a></li>
                                        <li><a href="">Love</a></li>
                                        <li><a href="">Struggle</a></li>
                                        <li><a href="">Divinity</a></li>
                                        <li><a href="">Sweet Love</a></li>
                                        <li><a href="">Ways</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </footer>
        
		<div class="copyright-content center">
			<div class="container">
				<p><i class="fa fa-copyright" aria-hidden="true"></i>All Rights Reserved to <a href="index.html">KodeForest</a>.</p>
			</div>
		</div>
		
        <!--video deta-->
        <div id="v1" class="videos_play_modal modal fade" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="default_vides_playblack">
                        <button type="button" class="close" data-dismiss="modal controls=1">&times;</button>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/XYi75x-ZvGE?autoplay=0&controls=1&loop=1&playlist=8HSr8BjcufM&amp;showinfo=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!--video deta ends-->
	</div>
    <!--church wrapper ends-->


    <!-- jquery javascript-->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap script-->
    <script src="js/bootstrap.js"></script>
    <!-- modernizr script-->
    <script src="js/modernizr.js"></script>
    <!-- responsive-jquery script-->
    <script src="js/responsive-jquery.js"></script>
    <!-- Audio script-->
    <script src="js/audio.js"></script>
    <!-- Slick Slider script-->
    <script src="js/selectric.js"></script>
    <script src="js/slick.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="js/map_ids.js"></script>
    <!-- Custom scripts-->
    <script src="js/custom.js"></script>
  </body>
</html>